{% extends 'layout.html' %}

{% block content %}
<div class="input-group mb-3 input-group-custom">
    <input class="form-control" type="date" id="SearchDateFrom" name="von"
           value="{{dates['minDate']}}"
           min="{{dates['minDate']}}" max="{{dates[0]}}">
    <input class="form-control" type="date" id="SearchDateTo" name="bis"
           value="{{dates['maxDate']}}"
           min="{{dates['minDate']}}" max="{{dates['maxDate']}}">
    <button class="btn data-btn-custom" type="button" id="searchBtn" onclick="searchValues()">
        <img src="{{ url_for('static', filename='assets/search-icon.svg') }}" height="20">
        <span id="loading-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
    </button>
    <button class="btn data-btn-custom" type="button" id="createPDFBtn" onclick="openDataPDF()" hidden>
        <img src="{{ url_for('static', filename='assets/file-pdf-solid.svg') }}" height="20">
    </button>
    <button class="btn data-btn-custom" type="button" id="createCSVBtn" onclick="saveCSV()" hidden>
        <img src="{{ url_for('static', filename='assets/file-excel-solid.svg') }}" height="20">
    </button>
    <button class="btn data-btn-custom" type="button" id="openChartBtn" data-bs-toggle="collapse" data-bs-target="#chart-collapse" aria-expanded="false" aria-controls="chart-collapse" hidden>
        <img src="{{ url_for('static', filename='assets/graph-up.svg') }}" height="20">
    </button>
</div>
<div class="collapse" id="chart-collapse">
    <canvas id="canvas"></canvas>
</div>

{% endblock %}
{%block js%}
<script src="{{ url_for('static', filename='data.js') }}"></script>
<script src="{{ url_for('static', filename='chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='chartjs-plugin-zoom.min.js') }}"></script>
<script src="{{ url_for('static', filename='pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vfs_fonts.min.js') }}"></script>



{%endblock%}
