{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div>
    <button type="button" class="btn btn-outline-primary chartBtnGroups startStopPause" data-bs-toggle="modal"
        data-bs-target="#metaDataModal">
        Daten zur Messung eingeben
    </button>
    <button class="btn btn-outline-primary chartBtnGroups startStopPause" type="button" aria-expanded="false" id=startBtn>
        <img src="{{ url_for('static', filename='assets/start.svg') }}" id="startImg" height="80%">
        <img src="{{ url_for('static', filename='assets/stop.svg') }}" id="stopImg" hidden height="80%">
    </button>
    <button class="btn btn-outline-primary chartBtnGroups startStopPause" type="button" aria-expanded="false" id=pauseBtn hidden>
        <img src="{{ url_for('static', filename='assets/pause.svg') }}" id="startPauseImg" height="80%">
        <img src="{{ url_for('static', filename='assets/start.svg') }}" id="stopPauseImg" hidden height="80%">
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="btn-group w-100 chartBtnGroups" role="group" aria-label="Basic example">
                {%for comment in comments%}
                <button class="btn btn-outline-primary chartBtnGroups" value={{comment}} type="button" onclick="insertComment(this)">
                    {{comment}}
                </button>
                {%endfor%}
            </div>
            <div class="container px-4">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3 border bg-light justify-content-center">
                            
                            <p class="text-center" id=distCounter style="font-size: x-large;"> <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/distance.svg') }}"
                                height="50px">0 m</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 border bg-light justify-content-center">
                            
                            <p class="text-center" id=speedDisplay style="font-size: x-large;"> <img class="img-responsive img-center" src="{{ url_for('static', filename='assets/speedometer.svg') }}"
                                height="50px">0 km/h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="modal fade" id="metaDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Messdaten eingeben</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Prüfer</label>
                    <input type="text" class="form-control" id="userMetaData" name="user"
                        placeholder="Vorname Nachname">
                </div>
                <div class="form-group">
                    <label>Messort</label>
                    <input type="text" class="form-control" id="locationMetaData" name="location" placeholder="Adresse">
                </div>
                <div class="form-group">
                    <label>Baumaßnahme</label>
                    <input type="text" class="form-control" id="measureMetaData" name="measure" placeholder="Beschreibung der Baumaßnahme">
                </div>
                <div class="form-group">
                    <label>Fahrbahnbreite</label>
                    <input type="number" value="0" min="0" max="100" class="form-control" id="widthMetaData" name="width" placeholder="Fahrbahnbreite in Meter">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="setMetadata()" data-bs-dismiss="modal" class="btn btn-primary">Eingaben
                    speichern</button>
            </div>
        </div>
    </div>
</div>
-->
{% endblock %}
{%block js%}
<script src="{{ url_for('static', filename='chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='chart.js') }}"></script>
<script src="{{ url_for('static', filename='chartjs-plugin-annotation.min.js') }}"></script>
{%endblock%}
